$ts: 0.5s;

/*Site Directory. Probably Don't need this*/
//Looks like url('@{siteDir}/assets/whatever.png')



$imgDir: '***REPLACEWITHTHEMEDIRECTORY***/assets/imgs';
$imgDirExpand: '../assets/imgs';
$siteDir: '***REPLACEWITHTHEMEDIRECTORY***';


/*BREAK POINTS*/
$tab: 'min-width:401px';
$dt: 'min-width:801px';

/* SITE COLORS */
$body-bg: #fff;
$main-color: #4e4f5f;
$link-color: #4e4f5f;
$link-color-hover: #4e4f5f;

$maroon: #741747;
$off-white: #e8e8e9;
$almost-white: #f0f1f3;


/*FONTS*/
$font-family:  'FFClanOT', "Helvetica", sans-serif;
$font-size-base: 14px;
$line-height-base:  1.428571429;
