@import '../variables.scss';
#property-carousel {
/*  padding-top: 10px;
  @media($dt) {
    padding: 0;
  }*/
  @media(max-width:900px) {
    .grey-bg {
      &:after {
        mix-blend-mode: normal;
        background: url('../assets/imgs/prop-grad.png') bottom left repeat-x;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,0.67) 100%);
      }
    }
    .title {
      color: white;
      width: 100%;
      left: 0;
      top: auto;
      bottom: 0;
      height: auto;
      text-align: left;
      padding: 12px 3.75%;
      &:before {
        display: none;
      }
      .copy {
        display: block;
        font-size: 18px;
        > div {
          display: inline-block;
          &.head {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .slide {
    .title {
      @media($dt) {
        color: rgba(white,0);

      }
    }
    &:hover {
      .title {
        @media($dt) {
          color:white;

        }
      }
    }
    @media($dt) {
      html.touch & {
        .title {
          color: white;
        }
        .grey-bg {
          &:after {
            mix-blend-mode: normal;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,0.67) 100%);
          }
        }
      }
    }
  }

}
